
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-b">
    <div class="content_left-b">
        <div class="categories_sidebar-p" style="box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <ul class="categories_list-p" style="width:180px;">

                <li class="categories_item-p">
                    <a href="@Url.Action("GioHangNoLogin","QuanLy")" class="categories_item_link-p">Giỏ hàng</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("TraCuuDonHang","QuanLy")" class="categories_item_link-p">Tra cứu đơn hàng</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="content_right-b" style="background-color:white;">
        <h2 style="color: var(--primary-color);">Giỏ hàng</h2>
        <table style="padding: 8px 16px; border-radius: 16px; background-color: #fff; box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <tr>
                <th class="order-number">STT</th>
                <th class="name">Tên sản phẩm</th>
                <th class="image">Ảnh</th>
                <th class="price">Giá</th>
                <th class="quantity">Số lượng</th>
                <th class="total">Thành tiền</th>
                <th class="chucnang"></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Tên sản phẩm</td>
                <td>Ảnh</td>
                <td>20000 VNĐ</td>
                <td>1</td>
                <td>20000 VNĐ</td>
                <td></td>
            </tr>
        </table>
        <div class="cart_bottom" style="display: flex; width: 100%; justify-content: space-between; margin-top:30px;">
            <div style="width: 70%;">
                <div class="form-group" style="justify-content: left; padding: 0px 16px; ">
                    <p style="width:130px">Họ tên:</p>
                    <div class="col-md-10" style="margin-left:8px;">
                        <div class="form-control form-control_nologin">
                            <input />
                        </div>
                    </div>
                </div>
                <div class="form-group" style="justify-content: left; padding: 0px 16px; ">
                    <p style="width:130px">Địa chỉ:</p>
                    <div class="col-md-10" style="margin-left:8px;">
                        <div class="form-control form-control_nologin">
                            <input />
                        </div>
                    </div>
                </div>
                <div class="form-group" style="justify-content: left; padding: 0px 16px;">
                    <p style="width:130px">SĐT:</p>
                    <div class="col-md-10" style="margin-left:8px;">
                        <div class="form-control form-control_nologin">
                            <input />
                        </div>
                    </div>
                </div>
                <div class="form-group" style="justify-content: left; padding: 0px 16px;">
                    <p style="width:130px">Chọn khuyến mãi:</p>
                    <div class="col-md-10" style="margin-left:8px;">
                        <div class="form-control">
                            <input />
                        </div>
                    </div>
                    <input type="submit" value="Áp dụng" class="choose btn-update-ci" style="width:120px;" />
                </div>
            </div>

            <div class="cart_bottom_right">
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Thời gian giao hàng:
                </span>
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Khuyến mãi:
                </span>
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Tạm tính:
                </span>
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 24px; font-weight:bold; color: var(--primary-color);">
                    Tổng tiền:
                </span>
            </div>

        </div>
        <div style="display: flex; width: 100%; justify-content:right; margin-top:30px;">
            <input type="submit" value="Hủy" class="choose btn-update-ci" style="width: 120px; margin-right: 16px; " />
            <input type="submit" value="Đặt hàng" class="choose btn-update-ci" style="width: 120px; margin-right: 16px; " />
        </div>
    </div>
</div>



