
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-b">
    <div class="content_left-b">
        <div class="categories_sidebar-p" style="box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <ul class="categories_list-p">
                <li class="categories_item-p">
                    <a href="@Url.Action("TTCaNhan","QuanLy")" class="categories_item_link-p">Thông tin cá nhân</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("GioHang","QuanLy")" class="categories_item_link-p">Giỏ hàng</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("DonHang","QuanLy")" class="categories_item_link-p">Đơn hàng</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("DoiMatKhau","QuanLy")" class="categories_item_link-p">Đổi mật khẩu</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_right-b">
        <h2 style="color: var(--primary-color);">Giỏ hàng</h2>
        <table style="padding: 8px 16px; border-radius: 16px; background-color: #fff; box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <tr>
                <th class="order-number">STT</th>
                <th class="name">Tên sản phẩm</th>
                <th class="image">Ảnh</th>
                <th class="price">Giá</th>
                <th class="quantity">Số lượng</th>
                <th class="total">Thành tiền</th>
                <th class="chucnang"></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Tên sản phẩm</td>
                <td>Ảnh</td>
                <td>20000 VNĐ</td>
                <td>1</td>
                <td>20000 VNĐ</td>
                <td></td>
            </tr>
        </table>
        <div class="cart_bottom">
            <div class="cart_bottom_left">
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Họ tên: 
                </span>
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Số điện thoại: 
                </span>
                <span style="text-align: left; display: flex; flex-direction: column; margin: 16px 0; font-size: 18px; color: var(--primary-color);">
                    Địa chỉ 1: 
                </span>
            </div>
            <div class="cart_bottom_center">
                <span></span>
            </div>
            <div class="cart_bottom_right">
                <span></span>
            </div>
        </div>
    </div>
</div>

