@{
    ViewBag.Title = "Tra cứu đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-b">
    <div class="content_left-b">
        <div class="categories_sidebar-p" style="box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;">
            <ul class="categories_list-p" style="width:180px;">

                <li class="categories_item-p">
                    <a href="@Url.Action("GioHangMoi","QuanLy")" class="categories_item_link-p">Giỏ hàng</a>
                </li>
                <li class="categories_item-p">
                    <a href="@Url.Action("TraCuuDonHang","QuanLy")" class="categories_item_link-p">Tra cứu đơn hàng</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="content_right-b" style="background-color:white;">

    </div>
</div>


