
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .errorClass {
        border: 2px solid #FF0000;
    }
</style>
<div class="main">
    <div class="content">
        <h2 style="text-align: center; color: var(--primary-color);">ĐĂNG KÝ TÀI KHOẢN</h2>
        <h3 style="margin-left:32px;">Thông tin cá nhân</h3>
        @using (Html.BeginForm("GhiNhanDangKy", "TaiKhoan", FormMethod.Post, new { area = "" }))
        {
            <div class="form-group form-group-ci row">
                <div class="form-group form-group-ci">
                    Họ tên
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="ten" name="HOTEN" value="" onblur="TenEvent()" />
                        </div>
                    </div>
                    
                </div>
                <div class="form-group form-group-ci">
                    SĐT
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="sdt" name="SDT" value="" onblur="SdtEvent()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-ci row">
                <div class="form-group form-group-ci">
                    Ngày sinh
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="date" id="ngaysinh" name="NGAYSINH" value="" />
                        </div>
                    </div>

                </div>
                <div class="form-group form-group-ci">
                    Địa chỉ
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="diachi" name="DIACHI" value="" onblur="DiaChiEvent()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-ci row">
                <div class="form-group form-group-ci">
                    Email
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="email" name="EMAIL" value="" onblur="EmailEvent()" />
                        </div>
                    </div>

                </div>
                <div class="form-group form-group-ci">
                    Địa chỉ 2
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="diachi2" name="DIACHI2" value="" onblur="DiaChi2Event()" />
                        </div>
                    </div>
                </div>
            </div>
            <h3 style="margin-left:32px;">Thông tin tài khoản</h3>
            <div class="form-group form-group-ci row">
                <div class="form-group form-group-ci">
                    Tên đăng nhập
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="username" name="USERNAME" value="" onblur="UsernameEvent()" />
                        </div>
                    </div>

                </div>
                <div class="form-group form-group-ci">
                    Mật khẩu
                    <div class="col-md-10">
                        <div class="form-control">
                            <input type="text" id="password" name="USERPASSWORD" value="" onblur="PasswordEvent()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-ci" style="justify-content:center; margin-top: 30px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="" class="btn-default btn-color" value="Đăng ký" style="cursor:pointer;" onclick="KiemTraTrong()" />
                </div>
            </div>

        }

    </div>
</div>

<script src="~/Scripts/boolFocus.js"></script>