:root {
    --primary-color: #A0522D;
}

html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #eee;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

.container {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar {
    display: flex;
    align-items: flex-end;
    background-color: var(--primary-color);
    border-radius: 0;
    color: white;
    padding: 0 96px;
    height: auto;
}

.navbar-menu{

}

.navbar-brand{
    font-size: 24px;
    padding: 12px 16px;
}

.navbar-menu__list{
    display: flex;
    margin: 0
}

.navbar-menu__item{
    list-style: none;
    padding: 8px 16px;
    font-size: 18px;
    padding-right: 0;
}

.navbar-menu__item:after {
    margin-left: 16px;
    content: "";
    width: 0;
    height: 10px;
    border-right: 1px solid white;
}

.navbar-menu__item__link{
    text-decoration: none;
    color: white;
}

.navbar-menu__item__link:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar-menu__item__link:focus {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.navbar-account{
    flex-grow: 1;
    width: auto;
    padding: 8px 16px;
    font-size: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navbar-account__img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    padding: 0 8px;
    border-radius: 50%;
}
.navbar-account__name {
    text-decoration: none;
}

.navbar-account__name:hover{
    color: white;
    cursor: pointer;
}

.navbar-account__drop-list {
    position: absolute;
    top: 52px;
    box-shadow: 5px 5px 8px #888888;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    background-color: white;
}

.navbar-account__drop-list__close{
    font-size: 14px;
    padding-top: 8px;
    padding-right: 16px;
    color: var(--primary-color);
    cursor: pointer;
    
}

.navbar-account__drop-list__list {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 8px 16px;
    padding-top: 0;
}

.navbar-account__drop-list__item {
    list-style: none;
    padding: 4px;
}

.navbar-account__drop-list__item__link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    
}

.navbar-account__drop-list__item__link:hover {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.navbar-account__drop-list__item__link:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}


footer {
    background-color: var(--primary-color);
    padding: 16px 96px;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
}
