:root {
    --primary-color: #A0522D;
}


.main{
    margin: 32px 96px;
    display: flex;
    position: relative;
    justify-content: center;
    min-height: calc(100vh - 165px) !important;
}

.active {
    background-color: var(--primary-color);
    color: white !important;
}

.column{
    flex-direction: column;
    align-items: start;
}

/*Danh Mục Sản Phẩm*/

.categories__sidebar {
    width: 18%;
    margin-top: 64px;
    background-color: white;
    height: fit-content;
}

.categories__list {
    margin: 0;
    padding: 0;
}

.categories__item {
    list-style: none;
    color: var(--primary-color);
    font-size: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.categories__item__link {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    padding: 8px 16px;
    width: calc(100% - 32px);
}

#create-category__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}

.content {
    padding: 8px 16px;
    width: 82%;
    background-color: white;
}

.content > h1{
    color: var(--primary-color);
}

.top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.circle-btn {
    background-color: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
}

.circle-btn:hover{
    cursor: pointer;
}

.bottom{
    padding: 16px 0;
}



.categories__data{
   
}

.product__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.product__item a {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    width: 180px;
    margin: 4px;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

    .product__item:hover {
        box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    }

.product__item__img{
    margin: 0 auto;
    padding-bottom: 8px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product__item__name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color);
    font-weight: bold;
}

/*Thêm Sản Phẩm*/

.wrap {
    height: 100vh;
    position: absolute;
    top:  -32px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    padding: 8px 16px;
    min-width: 30%;
    z-index: 999;

}

.close-btn{
    float: right;
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
}

.modal h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 28px;
}

#sanPham, #loaiSanPham, #timKiem{
    display: none;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.label{
    color: var(--primary-color);
    font-size: 20px;
}

.form-group input, select{
    padding: 8px 16px;
    width: 50%;
}

.form-group input#check{
    width: 35%;
    cursor: pointer;
}

.form-group input#maLoaiSP{
    width: 45%;
}



.noti{
    display: none;
    width: 100%;
    color: red;
    justify-content: flex-end;
}

.create-btn {
    border-color: var(--primary-color);
    outline: var(--primary-color);
    cursor: pointer;
    margin-left: 50%;
}


/*Chi tiết sản phẩm*/
.product-detail{
    display: flex;
    background-color: white;
    padding: 32px;
}

.product-detail__left, .product-detail__right {
    width: 50%;
}

.product-detail__left__img{
    width: 80%;
    object-fit: cover;
}

.product-detail__element{
    padding: 8px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 80%;
}

.product-detail__element__heading {
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-detail__element__btn-wrap{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
}

.product-detail__element__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.product-detail__element__title {
    color: var(--primary-color);
    font-size: 20px;
}

.product-detail__element__title__data{
    font-size: 18px;
    padding-top: 8px;
}